body {
    margin: 0;
}

#slides {
	position: relative;
    width: 100%;
    height: 100%;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slide {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	/* opacity: 0; */
	z-index: 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}

.controls{
	display: none;
}

.slide {
	font-size: 40px;
	padding: 40px;
	box-sizing: border-box;
	background: #333;
    color: #fff;
    width: 100%;
    height: 100%;
    background-size: cover;
    left: 100%;
}

.slide.showing {
    left: 0;
}

.slide:nth-of-type(1){
    background-image: url('images/1.png');
}
.slide:nth-of-type(2){
    background-image: url('images/2.png');
}
.slide:nth-of-type(3){
    background-image: url('images/3.png');
}
.slide:nth-of-type(4){
    background-image: url('images/4.png');
}
.slide:nth-of-type(5){
    background-image: url('images/5.png');
}
.slide:nth-of-type(6){
    background-image: url('images/7.png');
}
.slide:nth-of-type(7){
    background-image: url('images/8.png');
}
.slide:nth-of-type(8){
    background-image: url('images/9.png');
}
.slide:nth-of-type(9){
    background-image: url('images/10.png');
}
.slide:nth-of-type(10){
    background-image: url('images/11.png');
}

.controls{
  background: rgb(216, 210, 210);
  color: rgb(8, 8, 8);
  border: none;
  padding: 10px 0px;
  font-size: 10px;
  cursor: pointer;
  margin: 5px 0px 0px 10px;
  width: 32px;
  opacity: 0.5;
  border-radius:50%
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.buttons{
    position: absolute;
    left: 50%;
    bottom: 50px;
    z-index: 10;
    font-size: 0px;
    transform: translateX(-50%);
}